In [1]:
import pandas as pd

In [5]:
col = ['sex','length','diameter','height','weight','sweight',
      'vweight','shweight','rings']
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data', names=col)

In [6]:
df.head()

  sex  length  diameter  height  weight  sweight  vweight  shweight  rings
0   M   0.455     0.365   0.095  0.5140   0.2245   0.1010     0.150     15
1   M   0.350     0.265   0.090  0.2255   0.0995   0.0485     0.070      7
2   F   0.530     0.420   0.135  0.6770   0.2565   0.1415     0.210      9
3   M   0.440     0.365   0.125  0.5160   0.2155   0.1140     0.155     10
4   I   0.330     0.255   0.080  0.2050   0.0895   0.0395     0.055      7

In [7]:
df.describe()

,length,diameter,height,weight,sweight,vweight,shweight,rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       4177 non-null   object
 1   length    4177 non-null   float64
 2   diameter  4177 non-null   float64
 3   height    4177 non-null   float64
 4   weight    4177 non-null   float64
 5   sweight   4177 non-null   float64
 6   vweight   4177 non-null   float64
 7   shweight  4177 non-null   float64
 8   rings     4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [11]:
X = df.drop('rings', axis=1) #input
y = df['rings']   #output

In [12]:
X.head()

  sex  length  diameter  height  weight  sweight  vweight  shweight
0   M   0.455     0.365   0.095  0.5140   0.2245   0.1010     0.150
1   M   0.350     0.265   0.090  0.2255   0.0995   0.0485     0.070
2   F   0.530     0.420   0.135  0.6770   0.2565   0.1415     0.210
3   M   0.440     0.365   0.125  0.5160   0.2155   0.1140     0.155
4   I   0.330     0.255   0.080  0.2050   0.0895   0.0395     0.055

In [13]:
from collections import Counter
Counter(y)

Counter({15: 103,
         7: 391,
         9: 689,
         10: 634,
         8: 568,
         20: 26,
         16: 67,
         19: 32,
         14: 126,
         11: 487,
         12: 267,
         18: 42,
         13: 203,
         5: 115,
         4: 57,
         6: 259,
         21: 14,
         17: 58,
         22: 6,
         1: 1,
         3: 15,
         26: 1,
         23: 9,
         29: 1,
         2: 1,
         27: 2,
         25: 1,
         24: 2})

In [19]:
set(X['sex'])

{'F', 'I', 'M'}

In [20]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X['sex'] = enc.fit_transform(X['sex'])

In [21]:
set(X['sex'])

{0, 1, 2}

In [22]:
df.head()

   sex  length  diameter  height  weight  sweight  vweight  shweight  rings
0    2   0.455     0.365   0.095  0.5140   0.2245   0.1010     0.150     15
1    2   0.350     0.265   0.090  0.2255   0.0995   0.0485     0.070      7
2    0   0.530     0.420   0.135  0.6770   0.2565   0.1415     0.210      9
3    2   0.440     0.365   0.125  0.5160   0.2155   0.1140     0.155     10
4    1   0.330     0.255   0.080  0.2050   0.0895   0.0395     0.055      7

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state = 0, test_size = 0.25)

In [25]:
len(X_train)

3132

In [26]:
len(X_test)

1045

In [27]:
X_train.head()

      sex  length  diameter  height  weight  sweight  vweight  shweight
940     1   0.460     0.345   0.105  0.4490   0.1960   0.0945    0.1265
2688    2   0.630     0.465   0.150  1.0270   0.5370   0.1880    0.1760
1948    2   0.635     0.515   0.165  1.2290   0.5055   0.2975    0.3535
713     2   0.355     0.265   0.085  0.2010   0.0690   0.0530    0.0695
3743    0   0.705     0.555   0.195  1.7525   0.7105   0.4215    0.5160

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
clf = GaussianNB()

In [30]:
# train
clf.fit(X_train, y_train)

GaussianNB()

In [31]:
y_pred = clf.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [33]:
accuracy_score(y_test, y_pred) * 100

26.02870813397129

In [34]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           3       0.50      1.00      0.67         7
           4       0.30      0.62      0.40        13
           5       0.27      0.42      0.33        40
           6       0.32      0.43      0.36        63
           7       0.26      0.36      0.30       114
           8       0.27      0.29      0.28       139
           9       0.25      0.30      0.27       152
          10       0.21      0.24      0.23       139
          11       0.26      0.42      0.32       121
          12       0.50      0.01      0.02        93
          13       0.00      0.00      0.00        51
          14       0.00      0.00      0.00        32
          15       0.00      0.00      0.00        22
          16       0.00      0.00      0.00        16
          17       0.00      0.00      0.00        12
          18       0.00      0.00      0.00         6
          19       0.00      0.00      0.00        10
          20       0.00      0.00      0.00         8
          21       0.00      0.00      0.00         2
          22       0.00      0.00      0.00         1
          23       0.00      0.00      0.00         2
          24       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         0
          29       0.00      0.00      0.00         1

    accuracy                           0.26      1045
   macro avg       0.13      0.17      0.13      1045
weighted avg       0.24      0.26      0.22      1045

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
reg = LinearRegression()

In [37]:
reg.fit(X_train, y_train)

LinearRegression()

In [38]:
y_pred = reg.predict(X_test)

In [39]:
y_pred

array([13.10451425,  9.66747548, 10.35605247, ...,  9.95962005,
       12.59111443, 12.18516586])

In [40]:
from sklearn.metrics import mean_absolute_error

In [41]:
mean_absolute_error(y_test, y_pred)

1.5955158378194023

In [42]:
from sklearn.metrics import r2_score

In [43]:
r2_score(y_test, y_pred)

0.5354158501894077